body {
  background: radial-gradient($blue-2, $blue-1);
}

p {
  font-size: 16px;
  font-weight: 600;
  font-family: $Barlow;
}

span {
  font-size: 32px;
  font-weight: 700;
  font-family: $Barlow;
}
