// spacing
$container_max_width: 1560px;
$medium_container_width: 580px;
$gutter_width: 5vw;

// breakpoints
$desktop: 1280px;
$mobile: 1200px;

//fonts
$Barlow: 'Barlow Semi Condensed', sans-serif;

//colors
$blue-gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
$blue-ligth: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
$blue-dark: hsl(229, 64%, 46%);
$yellow: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
$red: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
$gray: hsl(229, 25%, 31%);
$gray-ligth: hsl(217, 16%, 45%);